/* for navbar */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    min-height: 100vh;
    width: 100%;
    background-color:  #318CE7;
}

 nav{
    width: 100%;
    background-color: #13274F;
    
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    height: 60px;
    align-items: center;
    margin-right: 1%;
}
nav ul .logo{
    margin-right: auto;
    margin-left: 3%;
    width: 8%;
    display: flex;
    justify-content: flex-end;
}
.logo p{
    font-size: 25px;
    border: 2px solid;
    color: rgb(137, 178, 213);
}
nav .onDesk li:nth-child(2) a, nav ul li:nth-child(3) a, nav ul li:nth-child(4) a{
    padding: 10px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 3px;
    color: rgb(149, 143, 137);
}
nav .onDesk .onlyOnDesktop:nth-child(2) a:hover, nav .onDesk li:nth-child(3) a:hover, nav .onDesk li:nth-child(4) a:hover{
    color: rgb(119, 165, 229);
}
nav ul li:nth-child(5){
    margin-inline: 2%;
}
nav ul li:nth-child(5) input[type=search]{
    height: 35px;
    width: 250px;
    border-radius: 8px;
    border: none;
    background-color: rgb(170, 211, 211);
    color: darkblue;
}
input[type=search]:focus{
    outline: none;
    border: none;
}
nav ul li:nth-child(5) button{
    border: none;
}
.accountOption{
    margin-right: 4%;
}
.accountOption i{
    padding: 8px;
    font-size: 20px;
    text-decoration: none;
    background-color: rgb(158, 234, 234);
    border-radius: 50px;
    background-color: rgb(168, 224, 205);
}
nav ul .accountOption i:hover{
    background-color: rgb(154, 192, 192);
    cursor: pointer;
}
nav ul li:last-child{
    display: none; 
    margin-right: 1%;
    height: 30px;
    width: 40px;
    border-radius: 8px;
}
nav ul li:last-child i{
    height: 100%;
    display: grid;
    place-items: center;
}
nav ul li:last-child:hover{
    background-color: rgb(71, 128, 178);
    cursor: pointer;
}
.accOption{
    position: fixed;
    display: none;
    right: 4%;
    top: 8%;
    background-color: bisque;
    z-index: 0;
}
.opt{
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 100%;
    display: grid;
    place-items: center;
}
.opt .options{
    height: 45px;
    display: grid;
    place-items: center;
    width: 100%;
}
.opt .options:hover{
    background-color: beige;
}
.options button{
    height: 30px;
    width: 60px;
    border: none;
    outline: none;
    background-color: rgb(155, 212, 231);
    border-radius: 8px;
}
a{
    text-decoration: none;
}
.options button a{
    text-decoration: none;
}
.opt .OptION{
    width: 100%;
    height: 40px;
    border-bottom: 2px solid;
    display: grid;
    place-items: center;
}
.onmob{
    height: 100vh;
    width: 250px;
    top: 0;
    right: 0;
    position: fixed;
    display: none;
    flex-direction: column;
    justify-content: start;
    align-items: start  space-between;
    background-color: rgba(119, 145, 187, 0.522);
    backdrop-filter: blur(8px);
    z-index: 1;
}
.onmob .onM{
    clear: both;
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.onM:hover{
    background-color: beige;
}
.onmob li:first-child{
    height: 30px;
}
@media(max-width:850px){
    .onlyOnDesktop{
        display: none;
        transition: 1s;
    }
    nav .onDesk li:nth-child(4), nav ul li:nth-child(6){
        margin-right: 2%;
        transition: 1s;
    }
    nav .onDesk li:last-child{
        display: block;
    }
    .onDesk .logo{
        width: 18%;
        background-color: red;
    }
}
@media(max-width: 400px){
    .onDesk li:first-child p{
        font-size: 15px;
        width: 200px;
    }

}
/* ---ends here */
.cont{
    margin-top: 2%;
    
    width: 100%;
    border:none;
    height: 85vh;
    display: grid;
    grid-template-columns: 1.4fr 9fr;
    background-color: rgb(39, 82, 142); 
}
.tab_lists{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.tab_lists li{
    height: 55px;
    width: 100%;
    cursor: pointer;
    display: grid;
    place-items: center;
    
}
.tab_lists li p{
    font-size: 20px;
    color: rgb(111, 180, 241);
}
.tabs_content{
    padding: 1em;
    background-color: #002244;
}
.tabs_content div{
    display: none;
}
.tabs_content div p{
    content: justify;
}
div h2{
    color: rgb(61, 138, 210);
}
.tabs_content div p{
    padding: 3%;
    color: rgb(126, 181, 221);
}
.tabs_content .active{
    display: block;
    
}
.tab_lists .active{
    background-color: #002244;
}

.rl{
    color: rgb(133, 209, 222);
}


/*  For Register manager */
.mn{
    margin-top: 5%;
    width: 100%;
    height: 90vh;
    display: grid;
    place-items: center;
}
form{
    width: 400px;
    display: grid;
    place-items: center;
    background-color:  skyblue;
    border-radius: 10px;
    box-shadow: 4px 4px 4px 4px darkblue;
}
form:hover{
    box-shadow: 6px 6px 6px  darkblue;
    transition: 0.3s;
}
.form-title{
    width: 90%;
    padding-block: 3%;
    display: flex;
    justify-content: center;
    margin-block: 10px;
    font-family: arial;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 2px solid;
}
fieldset{
    width: 90%;
    display: flex;
    flex-direction: column;
    
    align-items: center;
    margin-block: 10px;
    
    border: 2px solid;
    border-radius: 10px;
    
}

input[type=text], input[type=email], input[type=number], input[type=password]  {
    width: 85%;
    height: 40px;
    margin-block: 5px;
    border: none;
    background-color: skyblue;
    border-bottom: 1px solid;
    color: darkblue;
    font-size: 16px;
    font-family: verdana;
}
input:focus{
    outline: none;
}
#name{
    margin-top: 20px;
}

.skills{
    width: 80%;
    display: flex;
    margin-block: 10px;
}
.skills label{
    width: 45%;
}
input[type=radio]{
    width: 22%;
}
.exp{
    width: 80%;
    display: flex;
    justify-content: space-around;
    margin-block: 10px;
    align-items: center;
}
input[type=date], select{
    width: 50%;
    height: 30px;
}
.dob{
    width: 80%;
    display: flex;
    justify-content: space-around;
    margin-block: 10px;
    align-items: center;
}
.btns{
    margin-block: 15px;
    display: flex;
    
}
input[type=submit], input[type=reset]{
    height: 35px;
    width: 150px;
    margin-inline: 10%;
    background-color: dodgerblue;
    border: none;
    border-radius: 10px;
    font-size: 16px;
}
input[type=submit]:hover, input[type=reset]:hover{
    background-color: royalblue;
    cursor: pointer;
    font-size: 14px;
    padding: 3px;
    transition: 0.4s;
}

/*  For Footer */

.mn-footer{
    margin-top: 5%;
    width: 100%;
    background-color: rgb(15, 34, 49);
    border-top-left-radius: 10px ;
    border-top-right-radius: 10px;
}
footer{
    margin-top: 3%;
    width: 100%;
    display: flex;
    flex-direction: column;
   
    height: 150px;
}
footer .links{
    margin-block: 10px;
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: space-around;
}
.links .website-links{
    
    width: 50%;
    height: 90%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.website-links li a{
    text-decoration: none;
}
.links .media-links{
    width: 40%;
    height: 90%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.media-links li{
    margin-inline: 10px;
}
.media-links li a i{
    font-size: 20px;
    color: rgb(194, 141, 141);
    padding: 2px;
}
li a i:hover{
    color: rgb(76, 134, 184);
    transition: 0.5s;
    box-shadow: 5px rgb(183, 183, 210);
}
li p{
    font-size: 18px;
    font-family: 'Lucida Handwriting';
    font-weight: bold;
    color: azure;
}
.copyrights{
    width: 100%;
    display: grid;
    place-items: center;
}
.cp-rt{
    font-family: 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: beige;
}